<div class="sidebar bg-light">
    <div class="sidebar-header">
        <div class="navbar-brand">
            Human resource area
        </div>
    </div>
    <div class="sidebar-body">
        <div class="list-group" role="tablist" id="sidebar">
            <a class="list-group-item list-group-item-action border border-bottom-0"
               asp-area="" asp-controller="Home" asp-action="Index">
                <div class="text-uppercase">Home</div>
            </a>
            <a class="list-group-item list-group-item-action border border-bottom-0"
               asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                <div class="text-uppercase">Dashboard</div>
            </a>

                <button class="list-group-item list-group-item-action border border-bottom-0" data-toggle="collapse" href="#orgStructure">
                    <div class="text-uppercase"><span class="fas fa-angle-right"></span> Org Structure</div>
                </button>
                <div class="list-group border-0 collapse" id="orgStructure">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Company" asp-action="List">
                        - Companies
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Department" asp-action="List">
                        - Departments
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Position" asp-action="List">
                        - Positions
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Assignment" asp-action="List">
                        - Assignments
                    </a>
                </div>

                <button class="list-group-item list-group-item-action border border-bottom-0" data-toggle="collapse" href="#humanResources">
                    <div class="text-uppercase"><span class="fas fa-angle-right"></span> Human Resources</div>
                </button>
                <div class="list-group border-0 collapse" id="humanResources">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Employee" asp-action="List">
                        - Employees
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="DismissedEmployee" asp-action="List">
                        - Dismissed
                    </a>
                </div>
                <button class="list-group-item list-group-item-action border border-bottom-0" data-toggle="collapse" href="#contacts">
                    <div class="text-uppercase"><span class="fas fa-angle-right"></span> Contacts</div>
                </button>
                <div class="list-group border-0 collapse" id="contacts">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Location" asp-action="List">
                        - Locations
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Phone" asp-action="List">
                        - Phones
                    </a>
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-end"
                       asp-area="Administration" asp-controller="Email" asp-action="List">
                        - Emails
                    </a>
                </div>
            </div>
@*            <partial name="_SelectLanguageAdministrationPartial"/>
*@
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>