@model UIWeb.Models.Home.HomeVm
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_ExpressAccess" />

<partial name="_CompanyNews" for="@Model.CompanyNews" />

<div class="d-lg-flex flex-lg-row d-md-block m-0 p-0">

    <partial name="_Notifications" for="@Model.Notifications" />

    <partial name="_Announcements" for="@Model.Announcements" />

</div>