@model UIWeb.Areas.Security.Model.ForgotPasswordVm
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout";
}

<div class="form-security form-row">
    <div class="col-lg-6 col-md-12 bg-info c-white">
        <div class="align-center">
            <h1>haval greetings you!</h1>
            <p>enter your email</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 bg-white">
        <div class="align-center">
            <h1 class="c-info mb-4">forgot password?</h1>
            <form asp-antiforgery="true" asp-area="Security" asp-controller="Account" asp-action="ForgotPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" type="email" placeholder="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="control-button bg-info">submit</button>
                </div> 
                <div class="form-group m-0">
                    <a class="control-link" asp-area="" asp-controller="Home" asp-action="Index">home</a>
                </div>
            </form>
        </div>
    </div>
</div>