@model UIWeb.Areas.Security.Model.ResetPasswordConfirmEmailVm
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_Layout";
}

<div class="form-security form-row">
    <div class="col-lg-6 col-md-12 bg-info c-white">
        <div class="align-center">
            <h1>haval greetings you!</h1>
            <p><partial name="_StatusMessage" model="@Model.StatusMessage" /></p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 bg-white">
        <div class="align-center">
            <h1 class="c-info mb-4">password reset confirmation</h1>
            <div class="form-group m-0">
                <button class="control-button bg-info"
                        onclick="location.href = '@Url.Action("Index", "Home", new {area = ""})'">
                    home
                </button>
            </div>
        </div>
    </div>
</div>